/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* prevent navbar overlap */

body{
  margin:0;
  padding:0;      
  background-color: whitesmoke;
  overflow-x:hidden;
}


html{
  scroll-padding-top:80px;
}

/* GLOBAL SECTION STYLE */

section{
  width:100%;
  padding:50px 0;
}

/* HEADINGS */

h1, h2, h3, p{
  margin-top:0;
}